
@model Message


    <div class="message-item">
        <div class="message-content">
            @Model.Content
        </div>
        <div class="message-action">
            @Model.CreateAt
        </div>
    </div>